<div class="row">
    <div class="col-6">
        <app-doughnut
            title="grafica 1"
            [doughnutChartData]="data1"
            [doughnutChartLabels]="labels1">
        <!-- [propiedad del componente foughnut]='propiedad de grafica1' --></app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut
        title="grafica 2"></app-doughnut>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-doughnut
        title="grafica 3"></app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut></app-doughnut>
    </div>
</div>